<!-- FOOTER -->
        <div class="footer">
            <div class="container">
                <footer>
                  <p class="pull-right"><a href="#">Back to top</a></p>
                  <p class="text-muted">
                      &copy; 2017 Confupro por <a href="http://">Alberto Sánchez</a>
                      | <a href="/blog/">Blog</a>
                      | <a href="https://www.facebook.com/#">About</a>
                      | <a href="mailto:info@confupro.es">Contacta</a>
                  </p>
                </footer>
            </div>
        </div>