{% extends 'base.html' %}


{% block encabezado %}
	<h3> <span class="fa fa-list"></span>&nbsp;Resultados{{ titulo_form }}</h3>
{% endblock %}

{% block contenido %}

{% if error_message %}
	<p><strong>{{ error_message}}</strong></p>
{% endif %}

<div class="table-responsive">
{% if object_list %}
	<table class="table table-striped">
		<thead>
			<tr>
			{% if request.user.is_staff %}
				<th>#</th>
				{% endif %}
				<th>Titulo</th>
				<th>Tipo Analisis</th>
				<th>Fecha</th>
				<th>Estado</th>
			</tr>

		</thead>

		<tbody>
			{% for obj in object_list  %}
			<tr>
				{% if request.user.is_staff %}
				<td>{{ obj.id_analisis}}</td>
				{% endif %}
				<td>
				<!--<a href="{{ obj.get_absolute_url }}">-->
				{{ obj.titulo_descriptivo }}
				</a></td>
				<td>{{ obj.tipo_analisis }}</td>
				<td>{{ obj.timestamp }}</td>
				<td> 
<!--Bloque CEP-->
				{% if obj.analisis_cep.analisis_id %}
					{% if request.user.is_staff %}	
					{{obj.analisis_cep.pid.pid}}
					{{obj.analisis_cep.pid.estado}}
					{% endif %}
					
					
					{% if  obj.analisis_cep.pid.pid not in procesos_activos and obj.analisis_cep.pid.estado != 'finish' %}
					
						{% if  obj.analisis_cep.pid.estado != 'run' %}
							Pendiente de procesar...
						{% endif %}
						
					{% endif %}

					{# if obj.analisis_cep.estado #}
					{% if obj.analisis_cep.pid.estado == 'run' and obj.analisis_cep.pid.pid in procesos_activos%}
					
							{# if  obj.analisis_cep.pid.pid in procesos_activos #}
								<a class="btn btn-warning">Calculando cep...</a>
							{# endif #}
						
					{%elif obj.analisis_cep.pid.estado == 'finish'%}
							<a class="btn btn-success" href="{% url 'detalle_resultado_cep' obj.id_analisis%}">Resultados cep</a>
					
					
					{% endif %}
					

					

					{% if  obj.analisis_cep.pid.pid not in procesos_activos and obj.analisis_cep.pid.estado != 'finish' %}
					
						{% if  obj.analisis_cep.pid.estado == 'run' %}
							<a class="btn btn-danger" href="{% url 'analisis_deletecbv_error' obj.id_analisis%}">Error cep</a>
						{% endif %}
						
					{% endif %}
				{% endif %}
<!--fin Bloque CEP-->	


<!--Bloque FDA-->
				{% if obj.analisis_fda.analisis_id %}
					{% if request.user.is_staff %}	
					{{obj.analisis_fda.pid.pid}}
					{{obj.analisis_fda.pid.estado}}
					{% endif %}
					
					
					{% if  obj.analisis_fda.pid.pid not in procesos_activos and obj.analisis_fda.pid.estado != 'finish' %}
					
						{% if  obj.analisis_fda.pid.estado != 'run' %}
							Pendiente de procesar...
						{% endif %}
						
					{% endif %}

					{# if obj.analisis_fda.estado #}
					{% if obj.analisis_fda.pid.estado == 'run' and obj.analisis_fda.pid.pid in procesos_activos%}
					
							{# if  obj.analisis_fda.pid.pid in procesos_activos #}
								<a class="btn btn-warning">Calculando FDA...</a>
							{# endif #}
						
					{%elif obj.analisis_fda.pid.estado == 'finish'%}
							<a class="btn btn-success" href="{% url 'detalle_resultado_fda' obj.id_analisis%}">Resultados FDA</a>
					
					
					{% endif %}
					

					

					{% if  obj.analisis_fda.pid.pid not in procesos_activos and obj.analisis_fda.pid.estado != 'finish' %}
					
						{% if  obj.analisis_fda.pid.estado == 'run' %}
							<a class="btn btn-danger" href="{% url 'analisis_deletecbv_error' obj.id_analisis%}">Error FDA</a>
						{% endif %}
						
					{% endif %}
				{% endif %}
<!--fin Bloque FDA-->				
				</td>
				
			{% endfor %}
		</tbody>
	</table>


{% else %}
			<h1>---No hay analisis creados---</h1>
{% endif %}


	{% if request.user.is_staff %}	
	<h3>Lista de procesos activos: {{procesos_activos}}</h3>
	{% endif %}

{% if is_paginated %}
  <ul class="pagination">
    {% if page_obj.has_previous %}
      <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in paginator.page_range %}
      {% if page_obj.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
      <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}
	</ul>
</div>


{% endblock %}

