{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block encabezado %}
	<h1>{{titulo}}</h1>
	<h3>Usuario: {{ request.user }}</h3>
{% endblock %}

{% block contenido %}

	<div class='row'>
	<div class='col-sm-6 col-sm-offset-3'>
	<h3><p>Se produjo un error inesperado.</p>
	<p>No hemos podido completar el analisis. </p> </h3>
		<!--<h1 class='text-align-center'>Contacto</h1>-->
		<form method="POST"action="">{% csrf_token %}
		
		
		<input class='btn btn-danger'type="submit" value='Borrar datos'/>
		<a href="{% url 'analisis_listcbv' %}" class="btn btn-default">Cancelar</a>
	</form>
	</div>
</div>

{% endblock %}